<div>
  <h2>Tic Tac Toe</h2>

  <!-- tela inicial -->
  <div class="principal">
    <a href="#" class="botao"> Start </a>
  </div>
  <!-- fim tela inicial -->

  <!-- tabuleiro -->
  <div>
    <ul>
      <li class="kz-border-bottom kz-border-right"></li>
      <li class="kz-border-bottom kz-border-right"></li>
      <li class="kz-border-bottom"></li>
      <li class="kz-border-bottom kz-border-right"></li>
      <li class="kz-border-bottom kz-border-right"></li>
      <li class="kz-border-bottom"></li>
      <li class="kz-border-right"></li>
      <li class="kz-border-right"></li>
      <li></li>
    </ul>
  </div>
  <!-- fim tabuleiro -->

  <!-- tela final -->
  <div>
    <span>
      <p>You won!!!</p>
      <p>You lost...</p>
      <p>The game ended in a draw...</p>
      <br />
      <a href="#" class="botao"> Play again </a>
    </span>
  </div>
  <!-- fim tela final -->
</div>
